@font-face {
	font-family: 'Gilroy-Bold'; 
	src: url(/fonts/Gilroy-Bold.ttf); 
}
 

@font-face {
	font-family: 'Gilroy-Medium'; 
	src: url(/fonts/Gilroy-Medium.ttf); 
}
@font-face{
    font-family: 'Gilroy_Regular';
    src: url(/fonts/Gilroy-Regular.ttf);
}

@font-face{
    font-family: 'Gilroy-SemiBold';
    src: url(/fonts/Gilroy-SemiBold.ttf);
}
body {
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    background: #FFF; 
    min-width: 1920px;
}

header {
    width: 1170px;
    margin: 0 auto;
}


.menu_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    height: 40px;
}

.logo{
    width: 137px;

}

.menu{
    display: inline-block;
    color: #000;
    padding-top: 11px;
    padding-bottom: 12px;
    margin-right: 20px;
    
}

.menu:hover{
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.btn_menu{
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    border-radius: 30px;
    background: #F25822;
    padding:12px 27px 13px;
}

.btn_menu:hover{
    background: #f84504;
}


.home_meta{
    margin-top: 82px;
    margin-bottom:162px ;
    display: flex;
    justify-content: space-around;
    
}

.home_content{
    
    width: 522px;
    margin-bottom: 17px;
    padding-right: 40px;
    padding-top: 60.29px; 
    
}

.home_title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    
}

.creat{
    border-radius: 50%;
    border: 1px solid #F25822;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sub_title{
    color: #888;
    font-size: 20px;
    margin: 17px 36px 37px 0px;
}

.home_ing{
    width: 544px;
}
.btn_meta{
    display: flex;
    justify-content: space-between;
    width: 302px;
    height: 50px;
}
.btn_video{
    justify-content: space-between;
    width: 135px;
    align-content: center;
    background: #FFF;
}
.conteiner_btn{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.comteiner_img{
    height: 30px;
    width: 30px;
}
.brend{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.brebd_logo{
    display: inline-block;
    width: 160px;
}



main{
    background:#FAFAFA;
    /* background-image: url('/img/element.svg' ); */
    
}
.bg_img-main{
    width: 3393.516px;
    height: 681px;
    position: absolute;
    transform: rotate(2.095deg);
    z-index: 1;
}
.abaut_meta{
    width: 1170px;
    margin: 0 auto;
    z-index: 3;
    
    display: flex;
    justify-content: space-between;
}
.abaut_content{
    width: 515px;
    margin-top: 126px;
}
.abaut_title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
}
.abaut__sub_title{
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height:24px ;
    width: 515px;
    margin-bottom: 35px;
}
.home_img{
    z-index: 6;
}